AlekseyArdalin/lesson-2/js-методичка-урок2.docx
Aleksey_Ardalin/lesson-3/homework/group_homework/task.html
Aleksey_Ardalin/jstestnbeauty.js
Aleksey_Ardalin/lesson-3/homework/group_homework
Aleksey_Ardalin/lesson-2/homework/standard_homework/js-test.html
Aleksey_Ardalin/lesson-2/homework/advanced_homework/test.html
